<html>
    <head>
        <title>{{ title ?? 'LibreCart' }}</title>
        <link rel="shortcut icon" type="image/svg+xml" href="{{ asset('images/librecart-icon.svg') }}">

        {{ encore_entry_link_tags('app')}}
    </head>
    <body>
        <div id="root"></div>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>